@import '../../scss/variables';

.search {
  font-size: 1rem;
  color: $blueDark;
  border: none;
  border-bottom: 2px solid $gray;
  width: 100%;
  max-width: 300px;
  padding: 12px 35px 12px 15px;
  transition: .3s;
  outline: none;

  &:focus {
    border-color: $purple;
  }
}